<div class="form-group">
	<label class="control-label col-sm-3">Повторять каждые</label>
	<div class="col-sm-9">
	</div>
	<div class="col-sm-9">
		<div class="radio">
		  <label>
		    <input type="radio" name="repeat" value="7">
		    день недели
		  </label>
		</div>

		<div class="radio">
		  <label>
		    <input type="radio" name="repeat" value="14">
		    две недели
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="repeat" value="28">
		    4 недели
		  </label>
		</div>

		<div class="radio">
		  <label>
		    <input type="radio" name="repeat" value="84">
		    12 недель(три месяца)
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="repeat" value="365">
		    год
		  </label>
		</div>
	</div>
</div>

<div class="form-group">
  <label>
    <input type="checkbox" name="weekday0" value="0">
    Понедельник
  </label>
  <label>
    <input type="checkbox" name="weekday1" value="1">
    Вторник
  </label>
  <label>
    <input type="checkbox" name="weekday2" value="2">
    Среда
  </label>
  <label>
    <input type="checkbox" name="weekday3" value="3">
    Четверг
  </label>
  <label>
    <input type="checkbox" name="weekday4" value="4">
    Пятница
  </label>
  <label>
    <input type="checkbox" name="weekday5" value="5">
    Суббота
  </label>
  <label>
    <input type="checkbox" name="weekday6" value="6">
    Воскресение
  </label>

</div>
{% include 'fields/input_field.html' with size_per_label='3' size_per_field='9' field_label='Колиество повторений' field_type='number' field_name='amount' default_val='1' %}