<!--<div class="form-group">-->
	<label class="control-label col-sm-{{ size_per_label }}">{{ field_label }}</label>
	<div class="col-sm-{{ size_per_field }}">
		<select class="form-control {{ class }}" name="{{ field_name }}">
			{% if default_option %}
			<option value="-1">{{ default_option }}</option>
			{% endif %}
			{% for item in set %}
			<option value="{{ item.id }}">{{ item }}</option>
			{% endfor %}
		</select>
	</div>
	{% if help_text %}
	<span class="help-block">{{ help_text }}</span>
	{% endif %}
<!--</div>-->