<form id="change_event" method="post" action="{% url 'change_events' %}">
	<div class="form-horizontal">
		<div class="form-group">
		{% include 'fields/select_field.html' with set=events_to_change field_label='Событие' default_option='Выберите событие' class="choose_event" field_name='event_id' %}

				<button class="btn btn-default delete_event" type="button">Удалить событие</button>
		</div>
	</div>


	<div class="form-horizontal">
		{% include 'fields/input_field.html' with size_per_label='3' size_per_field='9' field_label='Имя' field_type='text' field_name='name'%}
		<div class="form-group">
			<div class="col-sm-3"></div>
			<label class="control-label col-sm-{{ size_per_label }}">Начало события</label>
		</div>
		{% include 'fields/date_time_field.html' with size_per_label='3' size_per_field='9' field_name_date='start_date' field_name_time='start_time' %}
		<div class="form-group">
			<div class="col-sm-3"></div>
			<label class="control-label col-sm-{{ size_per_label }}">Конец события</label>
		</div>
		{% include 'fields/date_time_field.html' with size_per_label='3' size_per_field='9' field_name_date='end_date' field_name_time='end_time' %}
		{% include 'fields/select_field.html' with size_per_label='3' field_label='Расписание' size_per_field='9' field_name='schedule' set=schedules help_text='Выберите из списка к какому расписанию относится событие' %}
		{% include 'fields/select_field.html' with size_per_label='3' field_label='Место' size_per_field='9' field_name='place' set=places help_text='Выберите из списка место в котором происходит событие' %}

		{% include 'fields/repeat_field.html' %}

		<div class="form-group">
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<button class="btn btn-default edit_event" type="button">Изменить событие</button>
			</div>
		</div>
	</div>
	{% csrf_token %}
</form>

<script>
$(".edit_event").click(function(){
	$.ajax({
		type: "POST",
		url: "{% url 'change_events' %}",
		async: false,
		data: $("#change_event").serialize(),
		success: function(data){
			if (data.not_success) {
				$(".my_event").html(data.my_event);
				$(".created_event").html(data.created_event);
				$('#unsuccess_import').modal('show');
			}
			else {
				$('#schedule_message').html('Событие успешно обновлено');
			}
    }
	});
	var cur_date = new Date($(".schedule_table_date").val());
	update_schedule_table(cur_date);
	$(tooltip_activate());
});

$(".delete_event").click(function(){
	event_id = $("select.choose_event").val();
	if (parseInt(event_id) == -1)
		return;
	else {
		$.ajax({
			url: "{% url 'delete_event' %}",
			async: false,
			data: {
				event_id: event_id,
			},
		});
		cur_option = $("select.choose_event");
		$("select.choose_event :selected").remove();
	};
});
</script>
