{% extends "maintemp.html" %}
{% load staticfiles %}
{% block includes %}
<script type="text/javascript" src="{% static 'moment.js' %}"></script>
<script type="text/javascript" src="{% static 'combodate.js' %}"></script>
{% endblock %}

{% block title %}Органайзер{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<p>{{ message }}</p>
		<div class="jumbotron" style="float:left;">
			<data class="hide schedule_table_date" value="{{ nowdate }}"></data>
			<div style="width:5%; float:left;">
				<button class="btn btn-primary carousel carousel-left" style="height:460px;">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
			</div>
			<div id="schedule_table" style="width:90%; float:left;">
				{% include 'schedule/schedule_table.html' %}
			</div>
			<div style="width:5%; float:left;">
				<button class="btn btn-primary carousel carousel-right" style="height:460px;">
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<table class="table">
			<tr>
				<th>Имя</th>
				<th>Длительность</th>
				<th>Дедлайн</th>
				<th>Начальное время</th>
				<th>Конечное время</th>
				<th>Выполнено?</th>
			</tr>
			{% for task in tasks %}
			<tr {% if task.end_time > task.deadline %} class="danger" {% endif %}>
				<td>{{ task.name }}</td>
				<td>{{ task.longitude }}</td>
				<td>{{ task.deadline | date:"d/m - H:i" }}</td>
				<td>{{ task.start_time | date:"d/m - H:i" }}</td>
				<td>{{ task.end_time | date:"d/m - H:i" }}</td>
				<td>
					<data class="task_id" value="{{ task.id }}">
						<button class="btn task_complete">
							Выполнено!
						</button>
					</data>
				</td>

			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-4">
		<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Расписание</a>
				</li>

				<li role="presentation">
					<a href="#event" aria-controls="event" role="tab" data-toggle="tab">События</a>
				</li>

				<li role="presentation">
					<a href="#task" aria-controls="task" role="tab" data-toggle="tab">Задачи</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="schedule">
					{% include 'schedule/schedule_form.html' %}
				</div>
				<div role="tabpanel" class="tab-pane" id="task">
					{% include 'schedule/task_form.html' %}
				</div>
				<div role="tabpanel" class="tab-pane" id="event">
					{% include 'schedule/event_form.html' %}
				</div>
			</div>
		</div>
	</div>
</div>
{% include "windows/place_window.html" %}

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip({html: true})
});

$(".task_complete").click(function(){
	task_id = $(this).parents("data.task_id").val();
	$.ajax({
		url: "{% url 'task_complete' %}",
		async: false,
		data: {
			task_id: task_id,
		},
		});
});

$(".carousel").click(function(){
    var cur_date = new Date($(".schedule_table_date").val());
    var amount = 0
    if ($(this).hasClass("carousel-left"))
        amount = -7;
    else if ($(this).hasClass("carousel-right"))
        amount = 7;
    cur_date.setDate(cur_date.getDate() + amount);


    $.ajax({
		url: "{% url 'change_schedule_table' %}",
		async: false,
		data: {
			year: cur_date.getFullYear(),
			month: cur_date.getMonth(),
			day: cur_date.getDate(),
		},
		success: function(newData){
        $('#schedule_table').html(newData);
    }
		});
	$(".schedule_table_date").val(cur_date);

	$(function () {
	  $('[data-toggle="tooltip"]').tooltip({html: true})
	});
});

</script>
{% endblock %}

