{% extends "maintemp.html" %}
{% load staticfiles %}
{% block includes %}
{% endblock %}

{% block title %}{{ friend.name }}{% endblock %}

{% block content %}
<data value="{{ friend.id }}" id="friend_id"></data>
<div class="row">
	<div class="col-md-8">
		<p>{{ message }}</p>
		<div class="jumbotron" style="float:left;">
			<data class="hide schedule_table_date" value="{{ nowdate }}"></data>
			<div style="width:5%; float:left;">
				<button class="btn btn-primary carousel carousel-left" style="height:460px;">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
			</div>
			<div id="schedule_table" style="width:90%; float:left;">
				{% include 'schedule/schedule_table.html' with no_generate=True %}
			</div>
			<div style="width:5%; float:left;">
				<button class="btn btn-primary carousel carousel-right" style="height:460px;">
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Профиль</a>
				</li>

				<li role="presentation">
					<a href="#schedule_import" aria-controls="schedule_import" role="tab" data-toggle="tab">
						Расписание для импорта
					</a>
				</li>

				<!--<li role="presentation">
					<a href="#schedule_export" aria-controls="schedule_export" role="tab" data-toggle="tab">Расписание для экспорта</a>
				</li>-->
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="profile">
					<div class="row">
						<div class="col-md-3">
							<p>ID</p>
						</div>
						<div class="col-md-9">
							<p>{{ friend.id }}</p>
						</div>

					</div>
					<div class="row">
						<div class="col-md-3">
							<p>Имя</p>
						</div>
						<div class="col-md-9">
							<p>{{ friend.name }}</p>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="schedule_import">
					<form id="import_schedule">
						<div class="form-group">
							{% include 'fields/select_field.html' with size_per_label='3' field_label='Расписание' size_per_field='9' field_name='schedule' set=schedules default_option='Выберите расписание' class='import_schedule' %}
						</div>
						{% for key, value in schedule_events.items %}
							<div class="form-group hide schedule_container {{ key.id }}">
								{% for item in value %}
								<label>
									<input type="checkbox" name="{{ key.id }}-{{ item.id }}" value="{{ item.id }}" checked="checked">
									{{ item.name }}
								</label>
								{% endfor %}
							</div>
						{% endfor %}
						{% csrf_token %}
						<div class="form-group">
							<label>
								<input type="checkbox" name="chain_import" checked="checked">Импортировать с привязкой
							</label>
							<span class="help-block">
								При изменении событий владельцем расписания они так же будут изменяться и у вас
							</span>
							<button class="btn submit_import" type="button">Импортировать расписание</button>
						</div>
					</form>
				</div>
				<!--<div role="tabpanel" class="tab-pane" id="schedule_export">
				</div>-->
			</div>
		</div>
	</div>
</div>

{% include 'windows/success_schedule.html' %}
{% include 'windows/unsuccess_schedule.html' %}

<script>
var tooltip_activate = function() {
  $('[data-toggle="tooltip"]').tooltip({html: true})
};

$(tooltip_activate());

$(".carousel").click(function(){
    var cur_date = new Date($(".schedule_table_date").val());
    var amount = 0
    if ($(this).hasClass("carousel-left"))
        amount = -7;
    else if ($(this).hasClass("carousel-right"))
        amount = 7;
    cur_date.setDate(cur_date.getDate() + amount);
		var friend_id = parseInt($("#friend_id").val());

    $.ajax({
		url: "{% url 'change_schedule_table' %}",
		async: false,
		data: {
			year: cur_date.getFullYear(),
			month: cur_date.getMonth(),
			day: cur_date.getDate(),
			user_id: friend_id,
		},
		success: function(newData){
        $('#schedule_table').html(newData);
    }
		});
	$(".schedule_table_date").val(cur_date);

	$(tooltip_activate());
});

$("select.import_schedule").change(function(){
	var key_id = $(this).val();
	$(".schedule_container").addClass("hide");
	$(".schedule_container." + key_id).removeClass("hide");
});

$(".submit_import").click(function(){
	$.ajax({
		type: "POST",
		url: "{% url 'import_schedule' %}",
		async: false,
		data: $("#import_schedule").serialize(),
		success: function(data){
			if (data.not_success) {
				$(".my_event").html(data.my_event);
				$(".created_event").html(data.created_event);
				$('#unsuccess_import').modal('show');
			}
			else {
				$('#success_import').modal('show');
			}
    }
	});
});

</script>
{% endblock %}
